*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}
:root{
    /* color */
    --black:#000;
    --lightbrown:#343a40;
    --brown:#0a0102b0;
    --white:#fff;
    --whitesmoke:rgb(245,245,245);
    --bsgrey:#212529 ;
    --border:#333;
    --new:#660f0f;
    --bsyellow:#ffc107;
    --blue1:#edf7f6;
    --blue2:rgb(177, 220, 240);
    --blue3:#3498db;
    --blue4:#0066ff;
    --blue5:#0067ff;
    --blue6:#0068ff;
    --blue7:#00ff;
    --green:green;
    --red:#dc3545;
    --orange:rgb(255,165,0);
    --darkgrey:#055160;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #dfaa0a;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-body-color: #212529;
    --bs-emphasis-color: #000;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-bg: #e9ecef;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-bg: #f8f9fa;
    --bs-link-hover-color: #0a58ca;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-color: #dee2e6;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
    --generate:var(--blue6);
}
.light-theme{
    --mainbackground:var(--blue2);
    --navbackground:var(--white);
    --navbutton1:var(--blue6);
    --navbutton2:var(--black);
    --navfontcolor:var(--black);
    --navfontcolor1:var(--white);
    --fontcolor:var(--black);
    --background:var(--whitesmoke);
    --buttonbackground:var(--whitesmoke);
    --buttonfont:var(--black);
    --shadow:var(--black);
    --butcolor:var(--green);
    --acolor:var(--blue5);
    --button:var(--blue7);
    --bottom:var(--blue7);
    --icon1:var(--red);
    --icon2:var(--orange);
    --icon3:var(--blue6);
    --icon4:var(--blue7);
    --BACK:var(--whitesmoke);
    --BACKCOLOR:var(--black);
    --inputbox:var(--white);
    --inputboxcolor:var(--black);
    --accessback:var(--darkgrey);
    --accesscolor:var(--white);
    --dabbaback:var(--white);
    --icon:var(--blue3);
    --resetbutton:var(--green);
    --resetbtncolor:var(--black);
    --boxback:var(--white);
    --boxfontcolor:var(--black);
    --generate:var(--blue6);
    --cancel:var(--red);
    --cancelfont:var(--white);
}
.dark-theme{
    --mainbackground:var(--black);
    --navbackground:var(--black);
    --navbutton1:var(--blue6);
    --navbutton2:var(--white);
    --navfontcolor:var(--white);
    --navfontcolor1:var(--black);
    --fontcolor:var(--white);
    --background:var(--black);
    --buttonbackground:var(--black);
    --buttonfont:var(--white);
    --shadow:var(--white);
    --butcolor:var(--red);
    --acolor:var(--blue5);
    --button:var(--blue7);
    --bottom:var(--blue7);
    --icon1:var(--red);
    --icon2:var(--orange);
    --icon3:var(--blue6);
    --icon4:var(--blue7);
    --BACK:var(--whitesmoke);
    --BACKCOLOR:var(--black);
    --inputbox:var(--white);
    --inputboxcolor:var(--black);
    --accessback:var(--darkgrey);
    --accesscolor:var(--white);
    --dabbaback:var(--white);
    --icon:var(--blue3);
    --resetbutton:var(--green);
    --resetbtncolor:var(--black);
    --boxback:var(--white);
    --boxfontcolor:var(--black);
    --generate:var(--blue6);
    --cancel:var(--red);
    --cancelfont:var(--white);
}
.original-theme{
    --mainbackground:var(--blue2);
    --navbackground:var(--white);
    --navbutton1:var(--blue6);
    --navbutton2:var(--black);
    --navfontcolor:var(--black);
    --navfontcolor1:var(--white);
    --fontcolor:var(--black);
    --background:var(--whitesmoke);
    --buttonbackground:var(--whitesmoke);
    --buttonfont:var(--black);
    --shadow:var(--black);
    --butcolor:var(--green);
    --acolor:var(--blue5);
    --button:var(--blue7);
    --buttoncolor:var(--white);
    --button:var(--blue7);
    --bottom:var(--blue7);
    --icon1:var(--red);
    --icon2:var(--orange);
    --icon3:var(--blue6);
    --icon4:var(--blue7);
    --BACK:var(--whitesmoke);
    --BACKCOLOR:var(--black);
    --inputbox:var(--white);
    --inputboxcolor:var(--black);
    --accessback:var(--darkgrey);
    --accesscolor:var(--white);
    --dabbaback:var(--white);
    --icon:var(--blue3);
    --resetbutton:var(--green);
    --resetbtncolor:var(--black);
    --boxback:var(--white);
    --boxfontcolor:var(--black);
    --cancel:var(--red);
    --cancelfont:var(--white);
}
.inverted-theme{
    --mainbackground:var(--new);
    --navbackground:var(--brown);
    --navbutton1:var(--blue6);
    --navbutton2:var(--white);
    --navfontcolor:var(--white);
    --navfontcolor1:var(--black);
    --fontcolor:var(--white);
    --background:var(--black);
    --buttonbackground:var(--black);
    --buttonfont:var(--white);
    --shadow:var(--white);
    --butcolor:var(--red);
    --acolor:var(--bsyellow);
    --button:var(--bs-warning);
    --bottom:var(--bs-warning);
    --icon1:var(--bsyellow);
    --icon2:var(--white);
    --icon3:var(--bs-teal);
    --icon4:var(--bs-purple);
    --BACK:var(--lightbrown);
    --BACKCOLOR:var(--bsyellow);
    --inputbox:var(--lightbrown);
    --inputboxcolor:var(--white);
    --accessback:var(--darkgrey);
    --accesscolor:var(--bs-dark);
    --dabbaback:var(--bs-dark-text-emphasis);
    --icon:var(--bs-warning-border-subtle);
    --resetbutton:var(--red);
    --resetbtncolor:var(--white);
    --boxback:var(--brown);
    --boxfontcolor:var(--white);
    --generate:var(--bsyellow);
    --cancel:var(--bs-cyan);
    --cancelfont:var(--black);
}
/* WHOLE PAGE */

body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--mainbackground);
}

/* NAVIGATION DISPLAY */
nav{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
/* NAVIGATION CONTENT */
.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--navbackground);
    box-shadow:0 0  10px var(--shadow);
    color:var(--navfontcolor);
    padding:10px 50px;
} 

/* LANGUANGE STYLE */
.header{
    display: flex;
    flex-direction: column;
    background:transparent;
    color: var(--navfontcolor);
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 130px;
    height: 50px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
}
/* LANGUAGE DROPDOWN */
.dropdown-list{
    position: relative;
    list-style: none;
    text-decoration: none;
    background-color: var(--navbackground);
    color: var(--navfontcolor);
    top: 12px;
    right: 10px;
    border: 1px solid var(--border);
    border-bottom: none;
    cursor: pointer;
    display: none;
}
.dropdown-list li{
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid var(--border);
}
.dropdown-list li:hover{
    background-color: var(--navbutton1);
    color: var(--navfontcolor1);
}
.header:hover .dropdown-list{
    display: block;
}

/* SITE LOGO */
.logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.logo img{
    width: 90%;
}

/* MAIN CONTENT PAGE STYLING */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    padding: 0;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--bottom);
    background-color: var(--navbackground);
    box-shadow: 0 0 10px var(--shadow);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    min-width: 300px;
    max-width: 100px;
    margin: 0;
    padding: 0;
}

/* HEADING */
h3{
    font-size:large;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--fontcolor);
}
h3 span{
    color: var(--blue7);
}

/* OTP DETAILS */
.circle{
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: var(--navbutton2);
}
.circle .x{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 120px;
    z-index: 1;
}
.otpwala{
    display: flex;
    flex-direction: row;
}
.otpwala input{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    text-wrap: nowrap;
    width: 170px;
    height: 40px;
    border: none;
    border: 1px solid var(--border);
    background-color: var(--inputbox);
    border-radius: 5px;
    z-index: 0;
}
.otpwala button{
    background: none;
    border: none;
    border: 1px solid var(--generate);
    color:var(--generate);
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.show{
    display: flex;
    flex-direction: row;
}
.otp-inputs{
    display: flex;
    flex-direction: row;
    background-color: var(--bs-form-invalid-color);
    color: var(--inputboxcolor);
    width: 120px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
.otp-inputs input{
    width: 20px;
    height: 20px;
    justify-content: center;
    margin: 2px;
    padding: 10px;
}
.show .sub{
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: var(--butcolor);
    color: var(--navfontcolor1);
    cursor: pointer;
}
.show .resend{
    border: none;
    background: none;
    color: var(--acolor);
    text-decoration: underline;
    margin-right: 10px;
    cursor: pointer;
}
.show .cancel{
    width: 30px;
    height: 35px;
    border: none;
    outline: none;
    background: var(--cancel);
    color: var(--cancelfont);
    border-radius: 5px;
}

/* FORM DETAILS */
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 290px;
    margin-top: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.details .a{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 100px;
    z-index: 1;
}
.details input{
    border: none;
    border: 1px solid #333;
    border-radius: 5px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    margin-top: -5px;
    margin-bottom: 20px;
    background-color: var(--inputbox);
    color: var(--inputboxcolor);
    z-index: 0;
}
.details .b{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 160px;
    z-index: 1;
}
.details .c{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 115px;
    z-index: 1;
}
.details .d{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 115px;
    z-index: 1;
}
.details .e{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 90px;
    z-index: 1;
}
.details .f{
    background-color: var(--background);
    color: var(--fontcolor);
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
    width: 145px;
    z-index: 1;
}
.tab-content select{
    border: none;
    border: 1px solid #333;
    background-color: var(--inputbox);
    color: var(--inputboxcolor);
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    margin-top: -5px;
    padding-left: 10px;
    border-radius: 5px;
}
.tab-content option{
    text-align: left;
}

.jadu{
    background: transparent;
    border: none;
    text-decoration: underline;
    color: var(--acolor);
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}
.eye{
    position: relative;
    right: -250px;
    top: -40px;
    transform: translateY(-50%);
    user-select: none; 
    background: transparent;
    width: 20px;
    z-index: 1;
}
/* CHECKBOX STYLE */
.select{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--fontcolor);
}
.select input{
    margin-right: 10px;
}

/* SIGN IN BUTTON STYLE */
.but{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    background-color: var(--butcolor);
    color: var(--navfontcolor1);
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s;
}
.but:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}

/* NEW USER LINK */
.new{
    margin-bottom: 20px;
    color: var(--fontcolor);
}
.new a{
    color: var(--acolor);
    text-decoration: underline;
}

/* ACCESIBILITY BUTTON */
.access{
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 2;
}
.acc-fab {
    position: relative;
    background-color: var(--icon);
    color:var(--accesscolor);
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-size: large;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.acc-fab .label {
    max-width: 0;
    opacity: 0;
    transition: all 0.3s ease;
    margin-left: 0;
    display: none;
}
.acc-fab:hover {
    padding-right: 20px;
}
.acc-fab:hover .label {
    max-width: 200px;
    opacity: 1;
    margin-left: 10px;
    display: contents;
    transition: all 0.2s;
}
/* CONTAINER */
.dabba {
    position: absolute;
    bottom: 0px;
    right: 0;
    background: var(--dabbaback);
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 12px;
    width: 350px;
    z-index: 3;
}
/* CONTAINER HEADING */
.dabbame{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: larger;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    background:var(--accessback);
    color: white;
}
.close-btn{
    width: 50px;
    font-size: larger;
    margin-top: -10px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
/* CONTAINER BOXES */

.dabbamedabba{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#box1{
    font-size: 12px;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--boxback);
    border: 2px solid var(--navbutton2);
    cursor: pointer;
    color: var(--boxfontcolor);
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
}
#box1:hover{
    background: #b8ddf5;
    border: 2px solid #0068ff;
    color: var(--navfontcolor);
    transition: all 0.2ms;
}
.hidden { 
    display: none; 
}

/* Reset Button */
.btn2{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--resetbutton);
    color: var(--resetbtncolor);
    cursor: pointer;
}

@media(max-width: 700px)
{
    .main{
        min-width: 100px;
    }
    .main-container{
        min-width: 300px;
        max-width:350px;
    }
}